body {
    margin: 0;
    background-size: cover;
    background-position: center;
    font-family: 'Noto Sans', sans-serif;
}

* {
    box-sizing: border-box;
}

.container {
	height: 100vh;
	padding: 10px;
	margin: 10px;
}

.row {
	display: flex;
    align-items: flex-start;
}

.columns {
	display: flex;
    flex-direction: column;
	align-items: flex-start;

}

.column {

	margin: 10px;
    width: 240px;
    border-radius: 4px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    background: #f1f1f1;
    padding: 10px 15px;
}
.column + .column {
    margin-bottom: 20px;
}

.column-header {
    text-align: left;
    font-size: 14px;
    font-weight: 700;
    color: rgb(82, 106, 122);
    margin: 0 0 10px;
}

.column-footer span {
    font-size: 14px;
    font-weight: 400;
    color: rgb(82, 82, 82);
    margin: 0;
}

.note {
	cursor: default;
	width: 100%;
	background: white;
	padding: 10px;
	border: none;
	border-radius: 4px;
    margin-bottom: 8px;
    box-shadow: 1px 1px 1px 1px #c9cfd4;
    visibility: visible;

    text-align: left;
    font-size: 14px;
    line-height: 1.3;
    font-weight: 400;
    color: rgb(82, 106, 122);

    transition: background-color 0.2s linear;
}

.note:hover {
	background-color: #e3f2fd;
    /*transition-timing-function: ease-out;*/
    /*transition: 0.25s;*/
    /*transform: translateY(15px) ;*/
    cursor: pointer;
}

.divider{
    border-right: 1px solid black;
}

.line{
    margin: 5px;
}

.note:focus {
	cursor: auto;
}

.note textarea {
	margin: 0;
}

.note.dragged {
	opacity: 0.01;
}

.column.dragged {
	opacity: 0.01;
}

.action {
	cursor: pointer;
}

.column.under {
	margin-top: 20px;
}
.note-container.under{
    opacity: 1;
    box-shadow: 0 0 10px #c3cbcf;
}

/*.note-container.under .note {*/
/*    transform: translateY(-50px);*/
/*}*/

/*.note-container.under ~ .note-container .note {*/
/*    transform: translateY(50px);*/
/*}*/
.note-container.under + .note-container .note {
    transform: translateY(5px);
}
.set-container.under + .set-container .column{
    transform: translateY(5px);
}
.set-container.under {
    opacity: 1;
    /*box-shadow: 0 0 10px #c3cbcf;*/
}

.note.end_elem {
    transform: translateY(50px);
}

.note.under {
	opacity: 0.5;
}
